# Write the dependencies to the requirements.txt file

requirements = """
selenium
robotframework-seleniumlibrary
robotframework
"""

with open("C:\\Users\\Admin\\PycharmProjects\\SauceDemoAssignment\\requirements.txt", "w") as file:
    file.write(requirements)
